<html>
	<%- include("./partials/head.ejs") %>
	<div class="content-container">
		<h1><%= title %></h1>
		<a href="/">Home</a>
		<%- include("./partials/errors.ejs") %>
		<form action="/become-member" method="post">
			<h2>Become Member</h2>
			<label for="membership_code"
				>Membership Code:
				<input name="membership_code" id="membership_code" />
			</label>
			<button type="submit">Enter</button>
		</form>
	</div>
</html>
